<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AlloyMeApp</title>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <link rel="stylesheet" href="/stylesheets/styles-nav-bar.css">
</head>
<body>

  <nav class="nav-bar">
    <div class="nav-btn-left">
      <a href="/"><img class="atom-icon" src="images/atom.svg"></a>
    </div>
    <div class="nav-btn-right">
      <a id="nav-login" class="nav-btn" href="/login">Login</a>
      <a id="nav-signup" class="nav-btn" href="/signup">Sign up</a>
    </div>
  </nav>

  <main>
    {{{body}}}
  </main>

  <script src="/javascripts/script.js"></script>
</body>
</html>