<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AlloyMeApp</title>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <link rel="stylesheet" href="/stylesheets/styles-nav-bar.css">
</head>
<body>

  <nav class="nav-bar">
    <div class="nav-btn-left">
      <a href="/"><img class="animated-main-logo" src="images/atom.svg" alt="atom-icon"></a>
    </div>
    <div class="nav-btn-right">
      <a class="nav-btn animate-btn" href="/login">
        <img src="/images/login-icon.png" alt="login-icon">
        <span>Login</span>
      </a>
      <a class="nav-btn animate-btn" href="/signup">
        <img src="/images/signup-icon.png" alt="signup-icon">
        <span>Sign up</span>
      </a>
    </div>
  </nav>

  <main>
    {{{body}}}
  </main>

  <div class="footer"></div>
  <div class="footer-sign">Made by <a class="sign" target="_blank" href="https://github.com/hnezado">Hector Martinez</a></div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>