
 {{#each data | i = index}}
 <p style="display: none" id={{index}}>{{this.x}}</p>
  <div class="data-div">
    <button class="btn-div">Click</button>
  </div>

 {{/each}}


<script>
  const btndata = document.getElementsByClassName('btn-div')
  btndata.forEach((btn)=>{
    btn.addEventListener('click', ()=> {
      btn.parentNode.innerHTML += <input type="text" name="" value="{{this.name}}">
    })

</script>



documetn2ueusdfsd(eso).value