@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
body {
  background-color: #cad5db;
  font: 14px "Josefin Sans", Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-main img {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  background-color: #5485A1;
}

.footer-sign {
  color: black;
  position: fixed;
  bottom: 20px;
  right: 40px;
}

.title {
  font-weight: 800;
  font-size: 3rem;
  margin: 160px 0 40px;
}

h2 {
  margin: 0 0 50px;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px 0;
}

h4 {
  margin: 10px 0;
}

h6 {
  margin: 5px 0 0;
}

input {
  font: 18px 'Josefin Sans', sans-serif;
  text-align: center;
  width: 250px;
  height: 30px;
  background-color: #abbfca;
  border: none;
  margin: 5px;
}

button {
  background-color: #729CB5;
  font: 24px 'Josefin Sans', sans-serif;
  height: 50px;
  border: none;
  margin: 10px;
  border-radius: 8px;
  padding: 8px;
}

button:hover {
  border-inline: 2px groove #38586B;
  color: black;
  font-weight: 600;
  background-color: #5E8EAB;
}

.accordion-btn {
  text-align: center;
  cursor: pointer;
  padding: 18px;
  width: 80%;
}

.accordion-btn:hover {
  padding: 16px;
  border: 2px groove #38586B;
  color: black;
  font-weight: 600;
  background-color: #83A8BE;
}

.accordion-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  width: 80%;
  background-color: #B2C9D7;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.accordion-active {
  padding: 16px;
  border: 2px groove #38586B;
  color: black;
  font-weight: 600;
  background-color: #b1e1ff;
}

table {
  font-weight: 600;
  margin: 10px;
  border: 2px ridge #38586B;
  -webkit-box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.5);
}

table th {
  background-color: #5E8EAB;
  font-weight: 800;
  font-size: 1.2rem;
  text-align: center;
  vertical-align: middle;
  height: 60px;
  padding: 0 20px;
  border: 1px solid #38586B;
}

table tr {
  background-color: #90b7cf;
}

table td {
  padding: 10px 20px;
  width: auto;
}

table td img {
  width: 10px;
}

table td button {
  padding: 0;
  text-align: center;
  height: 30px;
  width: 30px;
}

table td .td-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

table td .td-checkbox input {
  width: 20px;
}

table td .ap-users-table-td-actions {
  min-width: 105px;
}

table .border-sides {
  border-left: 1px solid #38586B;
  border-right: 1px solid #38586B;
}

.admin-form {
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
  border-radius: 10px;
  min-width: 220px;
  padding: 10px;
  background-color: #90b7cf;
  -webkit-box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.5);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  -webkit-transition: 1s;
  transition: 1s;
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal .modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #90b7cf;
  margin: 15% auto;
  padding: 10px;
  border: 1px solid #38586B;
  width: 532px;
  height: auto;
  max-height: 80%;
}

.modal .modal-content .close-modal {
  color: #38586B;
  float: right;
  font-size: 28px;
  font-weight: bold;
  width: 30px;
  height: auto;
  text-align: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.modal .modal-content .close-modal:hover, .modal .modal-content .close-modal :focus {
  color: #5E8EAB;
  text-decoration: none;
  cursor: pointer;
}

.modal .modal-content .modal-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

.modal .modal-content .modal-data .modal-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  min-height: 100%;
  font-size: 1.5rem;
}

.modal .modal-content .modal-data .modal-label label {
  text-align: end;
  padding: 8px 10px;
}

.modal .modal-content .modal-data .modal-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 60%;
}

#signup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mp-elements-table-symbol {
  text-align: center;
}

.mp-elements-table-aNum {
  text-align: center;
}

.mp-knowledge-points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 20px;
}

.mp-knowledge-points #points-num {
  color: #5485A1;
  font-size: 2rem;
  font-weight: 800;
  margin: 20px 0;
}

.mp-comments-main {
  margin: 20px 0;
}

.mp-comments-main .mp-comments-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  margin: 10px 0;
}

.mp-comments-main .mp-comments-div .mp-comments-actions-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mp-comments-main #mp-comments-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.mp-comments-main #mp-comments-form button {
  width: 100px;
}

.ap-users-table-kp {
  text-align: center;
}

.ap-users-form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  font-size: 1.1rem;
}

.ap-users-form-checkbox input {
  width: 40px;
  padding: 0 10px;
}

#ap-alloys-form-input-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */