@import url("https://fonts.googleapis.com/css?family=Oswald:500");
.nav-btn-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

.nav-btn-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: tan;
  width: 100%;
  height: 100px;
}

.nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  margin: 0 12px;
  font-size: 20px;
  letter-spacing: 1px;
  position: relative;
  padding: 20px 20px;
  width: 160px;
  height: 40px;
}

.nav-btn:hover {
  font-size: 0;
  background-color: bisque;
  color: saddlebrown;
}

.nav-btn:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: black;
  top: 100%;
  -webkit-animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
          animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

.nav-btn:hover:before {
  -webkit-animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
          animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.animated-main-logo {
  width: 80px;
}

.animated-main-logo:hover {
  -webkit-animation: pulse 1.4s infinite ease-out;
          animation: pulse 1.4s infinite ease-out;
}

.animate-btn img {
  opacity: 0;
  height: 0;
}

.animate-btn:hover {
  background-color: bisque;
  color: saddlebrown;
}

.animate-btn:hover span {
  font-size: 0;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.animate-btn:hover img {
  opacity: 1;
  height: 30px;
  margin-left: 12px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@-webkit-keyframes in {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}

@keyframes in {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}

@-webkit-keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}

@keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}
/*# sourceMappingURL=styles-nav-bar.css.map */