@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

@mixin flexCenter($direction, $justify, $align){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

//////////* General styles *//////////
body{
  background-color: #cad5db;
  font: 14px "Josefin Sans", Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100vh;
  &::-webkit-scrollbar {
    display: none;
  }
}
main{
  @include flexCenter(column, center, center);
}
.bg-main{
  // background: url("/images/AlloyMeAppBg.png");
  img{
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
  };
}
.footer{
  position: fixed;
  width: 100%;
  height: 100px;
  bottom: 0;
  background-color: #5485A1;
}
.footer-sign{
  color: black;
  position: fixed;
  bottom: 40px;
  right: 40px;
}
.title{
  font-weight: 800;
  font-size: 3rem;
  margin: 60px 0 40px;
}
h2{
  margin: 0 0 50px;
}
h3{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px 0;
}
h4{
  margin: 10px 0;
}
h6{
  margin: 5px 0 0;
}
input{
  font: 18px 'Josefin Sans', sans-serif;
  text-align: center;
  width: 250px;
  height: 30px;
  background-color: #abbfca;
  border: none;
  margin: 5px;
}
button{
  background-color: #729CB5;
  font: 24px 'Josefin Sans', sans-serif;
  height: 50px;
  border: none;
  margin: 10px;
  border-radius: 8px;
  padding: 8px;
  &:hover{
    border-inline: 2px groove #38586B;
    color: black;
    font-weight: 600;
    background-color: #5E8EAB;
  }
}
.accordion-btn {
  text-align: center;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  &:hover{
    padding: 16px;
    border: 2px groove #38586B;
    color: black;
    font-weight: 600;
    background-color: #83A8BE;
  }
}
.accordion-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: #B2C9D7;
  padding: 0 18px;
  max-height: 0;
  // height: auto;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-active{
  padding: 16px;
  border: 2px groove #38586B;
  color: black;
  font-weight: 600;
  background-color: #b1e1ff;
}
table {
  font-weight: 600;
  margin: 10px;
  border: 2px ridge #38586B;
  -webkit-box-shadow: 0px 10px 10px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 10px 2px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 10px 2px rgba(0,0,0,0.5);
  th{
    background-color: #5E8EAB;
    font-weight: 800;
    font-size: 1.2rem;
    text-align: center;
    vertical-align: middle;
    height: 60px;
    padding: 0 20px;
    border: 1px solid #38586B;
  }
  tr{
    background-color: #90b7cf;
  }
  td{
    padding: 10px 20px;
    width: auto;
    img{
      width: 10px;
    }
    button{
      padding: 0;
      text-align: center;
      height: 30px;
      width: 30px;
    }
    .td-checkbox{
      @include flexCenter(row, center, center);
      input{
        width: 20px;
      }
    }
    .ap-users-table-td-actions{
      min-width: 105px;
    }
  }
  .border-sides{
    border-left: 1px solid #38586B;
    border-right: 1px solid #38586B;
  }
}
.admin-form{
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
  border-radius: 10px;
  min-width: 220px;
  padding: 10px;
  background-color: #90b7cf;
  -webkit-box-shadow: 0px 10px 10px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 10px 2px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 10px 2px rgba(0,0,0,0.5);
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  // background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  transition: 1s;
  &::-webkit-scrollbar {
    display: none;
  }
  .modal-content {
    @include flexCenter(column, center, center);
    background-color: #90b7cf;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #38586B;
    width: 532px;
    height: auto;
    max-height: 80%;
    .close-modal {
      color: #38586B;
      float: right;
      font-size: 28px;
      font-weight: bold;
      width: 30px;
      height: auto;
      text-align: center;
      align-self: flex-end;
      &:hover, :focus{
        color: #5E8EAB;
        text-decoration: none;
        cursor: pointer;
      }
    }
    .modal-data{
      display: flex;
      flex-direction: row;
      height: 100%;
      .modal-label{
        display: flex;
        flex-direction: column;
        width: 40%;
        min-height: 100%;
        font-size: 1.5rem;
        label{
          text-align: end;
          padding: 8px 10px;
        }
      }
      .modal-input{
        @include flexCenter(column, null, flex-start);
        width: 60%;
      }
    }
  }
}
#signup-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

//////////* Personal page *//////////
.mp-elements-table-symbol{
  text-align: center;
}
.mp-elements-table-aNum{
  text-align: center;
}
.mp-knowledge-points{
  @include flexCenter(column, center, center);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 20px;
  #points-num{
    color: #5485A1;
    font-size: 2rem;
    font-weight: 800;
    margin: 20px 0;
  }
}
.mp-comments-main{
  margin: 20px 0;
  .mp-comments-div{
    @include flexCenter(column, center, center);
    font-size: 1.3rem;
    margin: 10px 0;
    .mp-comments-actions-div{
      @include flexCenter(row, center, center);
    }
  }
  #mp-comments-form{
    @include flexCenter(row, center, center);
    button{
      width: 100px;
    }
  }
}

//////////* Admin page *//////////
.ap-users-table-kp{
  text-align: center;
}
.ap-users-form-checkbox{
  @include flexCenter(row, center, center);
  width: 100px;
  font-size: 1.1rem;
  input{
    width: 40px;
    padding: 0 10px;
  }
}
#ap-alloys-form-input-div{
  @include flexCenter(column, center, center)
}