@import url('https://fonts.googleapis.com/css?family=Oswald:500');

@mixin flexCenter($direction, $justify, $align){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.nav-btn-left{
  @include flexCenter(row, center, center);
  margin-left: 20px;
}

.nav-btn-right{
  @include flexCenter(row, center, center);
}

.nav-bar{
  @include flexCenter(row, center, center);
  justify-content: space-between;
  background-color: #5485A1;
  width: 100%;
  height: 100px;
}

.nav-btn{
  @include flexCenter(row, center, center);
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  margin: 0 12px;
  font-size: 20px;
  letter-spacing: 1px;
  position: relative;
  padding: 20px 20px;
  width: 160px;
  height: 40px;
  &:hover{
    font-size: 0;
    background-color: #B2C9D7;
    color: #38586B;
  }
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #38586B;
    top: 100%;
    animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  }
  &:hover:before{
    animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  }
}
@keyframes pulse {
  0% {
    transform:scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.animated-main-logo{
  width: 80px;
  &:hover{
    animation: pulse 1.4s infinite ease-out;
  }
}
.animate-btn{
  img{
    opacity: 0;
    height: 0;
  }
  &:hover{
    background-color: #B2C9D7;
    color: #38586B;
    span{
      font-size: 0;
      opacity: 0;
      transition: 0.2s;
    }
    img{
      opacity: 1;
      height: 30px;
      margin-left: 12px;
      transition: 0.2s;
    }
  }
}

@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}
